<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title_header | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.website and site.website-desc %}
            <li>
              {% include icon-footer.html icon='icon-bike.svg' linkurl=site.website linktext=site.website-desc %}
            </li>
            <li>
              {% assign joinurl = site.website | append: '/association-velo' %}
              {% include icon-footer.html icon='icon-join.svg' linkurl=joinurl linktext='Adhérer' linkdesc=' (5€)' %}
            </li>
            <li>
              {% assign donateurl = site.website | append: '/faire-un-don' %}
              {% include icon-footer.html icon='icon-donate.svg' linkurl=donateurl linktext='Faire un don' linkdesc=' (déductible)' %}
            </li>
            <li>
              {% assign newsletterurl = site.website | append: '/newsletter' %}
              {% include icon-footer.html icon='icon-newsletter.svg' linkurl=newsletterurl linktext='Newsletter' %}
            </li>
            <li>
              {% assign contacturl = site.website | append: '/contact' %}
              {% include icon-footer.html icon='icon-contact.svg' linkurl=contacturl linktext='Contact' %}
            </li>
            {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            {% assign feedurl = "/feed.xml" | relative_url %}
            {% include icon-footer.html icon='icon-feed.svg' linkurl=feedurl linktext='Flux RSS' %}
          </li>
          {% if site.twitter.username %}
          <li>
            {% include icon-footer.html icon='icon-twitter.svg' linkurl='https://twitter.com/parisenselle' linktext='Twitter' %}
          </li>
          {% endif %}

          {% if site.facebook.username %}
          <li>
            {% include icon-footer.html icon='icon-facebook.svg' linkurl='https://www.facebook.com/parisenselle' linktext='Facebook' %}
          </li>
          {% endif %}

          {% if site.gitlab.username %}
          <li>
            {% include icon-footer.html icon='icon-gitlab.svg' linkurl='https://framagit.org/parisenselle/planvelo' linktext='Framagit' linkdesc=' (site web)' %}
          </li>
          {% endif %}
          {% if site.github.username %}
          <li>
            {% include icon-footer.html icon='icon-github.svg' linkurl='https://parisenselle.github.io/planvelo-carte/' linktext='Github' linkdesc=' (carte)' %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description_footer | escape }}</p>
      </div>
    </div>

  </div>

</footer>
