<div class="panel panel-default">
  <div class="panel-body">
    <div id="mapFrame"></div>
    <!-- Build the map using Leaflet.js -->
    <script type="text/javascript">
      var areaZonesApaisees = 0 ;

      function toggleLegend(e)
      {
        if (e.name == "Zones apaisées")
        {
          e.layer.bringToBack() ;

          if ( e.type == "overlayadd")
          {
            $("#zonesApaiseesLegend").css('visibility','visible').hide().slideDown("fast");
          }
          else
          {
            $("#zonesApaiseesLegend").slideUp("fast", function(){$("#zonesApaiseesLegend").css('visibility','hidden').css("display", "block")});
          }
        }
      }

      function areaFeature(feature, layer)
      {
        areaZonesApaisees += Math.round( 10 * turf.area(feature) ) / 10 ;

        layer.on(
        {
          mouseover: highlightFeature,
          mouseout: resetStyleFeature,
          click: zoomToFeature
        });
      }

      function highlightFeature(e)
      {
        var layer = e.target;
        var newStyle = styleFeature(layer.feature) ;

        if ( layer.feature.geometry.type == "Polygon")
          newStyle.fillOpacity += 0.2 ;
        else
          newStyle.weight += 2 ;

        layer.setStyle(newStyle) ;
        info.update(layer.feature) ;
      }

      function resetStyleFeature(e)
      {
        var layer = e.target;
        layer.setStyle(styleFeature(layer.feature)) ;
        info.update() ;
      }

      function zoomToFeature(e)
      {
        map.fitBounds(e.target.getBounds());
      }

      function updateInfo(feature)
      {
        var content = '' ;
        if ( typeof feature != "undefined" && feature.geometry.type == "Polygon")
        {
          var areaFeature = turf.area(feature) / 1000000.0 ;
          areaFeature = Math.round( 1000 * areaFeature ) / 1000 ;

          if (feature.properties && feature.properties.name)
            content += "<b>"+feature.properties.name+"</b><br/>" ;
          if (feature.properties && feature.properties.description)
            content += feature.properties.description+"<br/>" ;

          content += "Surface : "+areaFeature+"km²";
        }
        else if ( typeof feature != "undefined" && feature.geometry.type == "LineString" )
        {
          var lengthFeature = Math.round( 10 * turf.lineDistance(feature) ) / 10 ;

          if (feature.properties && feature.properties.name)
            content += "<b>"+feature.properties.name+"</b><br/>" ;
          if (feature.properties && feature.properties.description)
            content += feature.properties.description+"<br/>" ;

          content += "Longueur : "+lengthFeature+"km";
        }
        else
          content = "Placez le curseur sur un segment pour plus d'informations" ;

        this._div.innerHTML = '<h4>Informations</h4>' + content ;
      }

      function bindFeatureEvents(feature, layer)
      {
        layer.on(
        {
          mouseover: highlightFeature,
          mouseout: resetStyleFeature,
          click: zoomToFeature
        });
      }

      // Function to convert a color in RGB color space to HSV color space
      function rgbToHsl(r, g, b)
      {
        r /= 255.0, g /= 255.0, b /= 255.0;
        var max = Math.max(r, g, b), min = Math.min(r, g, b);
        var h, s, l = (max + min) / 2.0;

        if(max == min)
        {
          h = s = 0; // achromatic
        }
        else
        {
          var d = max - min;
          s = l > 0.5 ? d / (2 - max - min) : d / (max + min);
          switch(max)
          {
            case r: h = (g - b) / d + (g < b ? 6 : 0); break;
            case g: h = (b - r) / d + 2; break;
            case b: h = (r - g) / d + 4; break;
          }
          h /= 6.0;
        }

        return [h, s, l];
      }


      // Function to get the style to apply to a feature
      function styleFeature(feature)
      {
        if ( feature.geometry.type == "Polygon" )
        {
          return {fillColor: "#3456d9", fillOpacity: 0.4, weight: 2, opacity: 0.7, color: 'white', dashArray: '3'} ;
        }
        else
        {
          var finalColor, finalWidth ;

          if ( feature.properties.stroke )
          {
            // Get the color, make the conversion from RGB to HSV
            var colorHexa = feature.properties.stroke.substr(1), colorHLS ;
            colorHLS = rgbToHsl ( parseInt(colorHexa.substr(0,2), 16), parseInt(colorHexa.substr(2,2), 16), parseInt(colorHexa.substr(4,2), 16) ) ;

            if ( colorHLS[1] < 0.3 && colorHLS[2] < 0.5 )
            {
              finalColor = '#adadad' ;
            }
            else
            {
              // Compare the distance between H and references H for green, red and orange
              var distanceMin = 1, references = [ [0.33333, "#228b22"], [0, "#ff0000"], [0.10784, "#ffa500"] ] ;
              for ( var iColor = 0 ; iColor < references.length ; iColor++ )
              {
                if ( Math.abs(colorHLS[0] - references[iColor][0]) < distanceMin )
                {
                  finalColor = references[iColor][1] ;
                  distanceMin = Math.abs(colorHLS[0] - references[iColor][0]) ;
                }
              }
            }
          }
          else
            finalColor = '#adadad' ;

          finalWidth = Math.max(4, ( feature.properties["stroke-width"] ? feature.properties["stroke-width"] : 4 ) ) ;


          return {"color": finalColor, "weight": finalWidth } ;
        }
      }


      // Create the map with Mapbox tiles
      var map = L.map('mapFrame', {fullscreenControl: true}) ;
      L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a> | Paris en Selle',
        subdomains: 'abcd',
      }).addTo(map);
      map.fitBounds([ [48.9021449, 2.4699208], [48.815573, 2.224199] ]) ;


      // Add a custom control to display information
      var info = L.control({position: "bottomleft"});
      info.onAdd = function (map)
      {
          this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
          this.update();
          return this._div;
      };
      info.update = updateInfo ;
      info.addTo(map);

      // Load the different layers and display the default one (planVelo) on the map
      var planVeloLayer = new L.GeoJSON.AJAX(
        "https://raw.githubusercontent.com/ParisEnSelle/planvelo-carte/master/planvelo.geojson",
        {onEachFeature: bindFeatureEvents, style: styleFeature } );
      planVeloLayer.addTo(map);

      var horsPlanVeloLayer = new L.GeoJSON.AJAX(
        "https://raw.githubusercontent.com/ParisEnSelle/planvelo-carte/master/hors-planvelo.geojson",
        {onEachFeature: bindFeatureEvents, style: styleFeature } );
      var zonesApaiseesLayer = new L.GeoJSON.AJAX(
        "https://raw.githubusercontent.com/ParisEnSelle/planvelo-carte/master/opendata.paris.fr/zones-de-circulation-apaisee_PeS.geojson",
        { onEachFeature: areaFeature, style: styleFeature } );
      zonesApaiseesLayer.on("data:loaded", function ()
        {
          disp( Math.round( areaZonesApaisees / (1000000 * 100) * 100 ), "zonesApaisees") ;
        }) ;



      // Add control to display or hide layers
      var overlayLayers = {
        "Plan Vélo": planVeloLayer,
        "Hors Plan Vélo": horsPlanVeloLayer,
        "Zones apaisées": zonesApaiseesLayer
      };
      L.control.layers(null, overlayLayers, {position: "topright", collapsed: false}).addTo(map);


      // Add event listeners to display/hide legend items
      map.on("overlayremove overlayadd", toggleLegend) ;


    </script>
    <ul class="legend">
      <li><span class="grey"></span>Plan Vélo (Projet)</li><br>
      <li><span class="green"></span>Réalisé – Satisfaisant</li><br>
      <li><span class="orange"></span>Réalisé – Non satisfaisant</li><br>
      <li><span class="red"></span>Abandonné</li><br>
      <li class="hiddenElement" id="zonesApaiseesLegend"><span class="blue"></span>Zones apaisées</li>
    </ul>
 </div>
</div>
