<script>
  var start = new Date("04/05/2014") ;;
  var end = new Date("04/05/2020") ;
  var percentTimeElapsed = percent(start,end) ;

  function percent(start,end) {
      var now = new Date() ;
      return Math.round(Math.max(0, Math.min(100, ( 100.0 * (now - start) ) /  (end - start) )));
  }
  // display
  function disp(value, element) {
      var progressBar = document.getElementById(element);
      progressBar.style.width = value+"%" ;
      progressBar.innerHTML = value+"%";
      progressBar.setAttribute("aria-valuenow", value) ;

      // Adapt color of progress bar if different from bar for time elapsed
      if ( element != "timebar" )
      {
        if ( value > percentTimeElapsed || (percentTimeElapsed - value) < 10 )
          progressBar.className += " progress-bar-success";
        else if ( value / percentTimeElapsed > 0.5 )
          progressBar.className += " progress-bar-warning";
        else
          progressBar.className += " progress-bar-danger";
      }
  }

  window.onload = function ()
  {

    disp(4, 'piste');
    disp(percentTimeElapsed, 'timebar');
    $('[data-toggle="tooltip"]').tooltip();
  }
</script>
<div class="panel panel-default">
  <div class="panel-body">
    Avancement de la réalisation des infrastructures cyclables
    <div class="progress">
     <div id="piste" class="progress-bar" role="progressbar"
     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%" data-toggle="tooltip" title="Longueur totale des aménagements réalisés par rapport à la longueur totale des aménagements dans le Plan Vélo">
     </div>
   </div>
   Avancement du déploiement des zones de circulation apaisée
    <div class="progress">
     <div id="zonesApaisees" class="progress-bar" role="progressbar"
     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%" data-toggle="tooltip" title="Hypothèse 100km² pour Paris hors parcs, axes majeurs, Seine et canaux">
     </div>
   </div>
   Temps de mandature écoulé
   <div class="progress">
     <div id="timebar" class="progress-bar" role="progressbar"
     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%" data-toggle="tooltip" title="Temps écoulé depuis le 05/04/2014 (fin supposée 05/04/2020)">
     </div>
   </div>
 </div>
</div>
