---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          770px;
$on-laptop:        1000px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

.site-title {
  font-size: 1.1em;
  font-size: 4vmin;
  letter-spacing: -1px;
  letter-spacing: 0.05vmin;
}

.post-title {
  font-size: 2em;
}

#videoFrame {
  width:100%;
  height:350px;
  height:50vmin;
}

#mapFrame {
  width:100%;
  height:500px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.hiddenElement { visibility:hidden; }

/* map legend: item position */
.legend { list-style: none; margin-top: 12px; }
.legend li { float: left; margin-right: 10px; }
.legend span { border-radius: 25px; float: left; width: 40px; height: 12px; margin: 2px; }
/* map legend: item color */
.legend .grey { background-color: #adadad; }
.legend .green { background-color: #228b22; }
.legend .orange { background-color: #ffa500; }
.legend .red { background-color: #ff0000; }
.legend .blue { background-color: #3456d9 ; background-color: rgba(52,86,217,0.4); }

/* image caption */
.image-wrapper {
    text-align: center;

    .image-caption {
        color: $grey-color;
        font-size: 13px;
        margin-top: $spacing-unit / 3;
    }
}
