---
layout: default
---

<div class="home">

  <h1 class="post-title">Suivi du Plan Vélo</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.categories.article %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }} • {{ post.author }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="post-title">Articles de presse</h1>

  <ul class="post-list">
    {% for post in site.categories.presse %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }} • {{ post.author }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
